@font-face {
    font-family: 'SH Blabeloo';
    src: url('SHBlabeloo.woff2') format('woff2'),
        url('SHBlabeloo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

