@font-face {
    font-family: 'Sorena';
    src: url('Sorena.woff2') format('woff2'),
        url('Sorena.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
